<section>
    <%= form_with model: @Category, url: category_update_path, method: :put do |form|%>
    <div class="mb-3">
        <%= form.label :category_title%>
        <%= form.text_field :category_title, class: "form-control", placeholder: "Title"%>
    </div>
    <div class="mb-3">
        <%= form.submit "Submit", class: " bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded btn btn-blue"%>
    </div>
    <% end %>
</section>
